.env
.venv
__pycache__

*.pyc
*.pyo
*.pyd
*.pyo
*.pyd
*.pyo
*.pyd
*.pyo
*.pyd

*.jpg
*.png
!/static/*.png
!/static/*.jpg
!/static/*.jpeg
!/static/*.gif
*.bmp
*.tiff
*.webp
*.svg
*.ico

__pycache__
.DS_Store
*.log