fastapi
uvicorn
opencv-python
pyaudio
google-generativeai
openai
requests
python-dotenv
cartesia
weave
Pillow
# RPi.GPIO
pvporcupine
pvrecorder
pygame
rpi-lgpio; platform_system == "Linux"
loguru

jinja2
sse_starlette

# New packages
pydub
websockets
llama-index
elevenlabs
